<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="An education website (Module: CST3145)"> <!-- site content description -->
	<meta name="keywords" content="family, educational, learning"> <!-- define keywords that the search engine will search for -->
	<meta name="author" content="Kurt Lee Camilleri [Middlesex Number: M00685836]"> <!-- site author -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- instructs the browser on how to control the page dimensions and scaling -->	

	<!-- CSS file -->	
	<link rel="stylesheet" href="style.css"/>	

 	 <!-- Web Fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/> <!-- Montserrat font -->
  	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/> <!-- Raleway font -->
 	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> <!-- Roboto font -->
 	<link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet"/> <!-- Rye font -->	

	<!-- Vue references -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- Call Vue  -->

	<!-- Vue devtools package/library fixes  -->
	<script src="https://unpkg.com/vue@1.0.28/dist/vue.js"></script>
	<script src="https://unpkg.com/vuex@1.0.1/dist/vuex.js"></script>


 	<!-- Tab icon -->
 	<link rel="icon" href="../cw1v4/assets/images/study-icon.png">
 	<!-- ICON AUTHOR CREDIT: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->

	<!-- Tab title/name -->
 	<title>Family Learning</title>
</head>

	<body>
		<header>
		</header>
		<main>
			<div id="loginreg" class="login-wrap">
				<div class="login-register">
					<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
					<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
					<div class="loginReg-form">
						<form class="signin">
							<div class="group">
								<label for="user" class="label">Username</label>
								<input id="user" type="text" class="input">
							</div>
							<div class="group">
								<label for="pass" class="label">Password</label>
								<input id="pass" type="password" class="input" data-type="password">
							</div>
							<div class="group">
								<input id="check" type="checkbox" class="check" checked>
								<label class="check-label" for="check"><span class="icon"></span> Keep me Signed in</label>								
							</div>
							<div class="group">
								<button type="submit">Sign In</button>								
							</div>
							<div class="linebreak"></div>

							<div class="bottom-text">
								<a href="#forgot">Forgot Password?</a>
							</div>

							<div class="linebreak"></div>

							<div class="bottom-text">
								<label for="tab-2"><span class="membercolor">Not a Member? Join Now!</span></a>
							</div>				
						</form>

						<form class="signup">

							<p id="successfulRegister" class="successful"></p>

							<p id="usernamerequired" class="warning"></p>	
							<div class="group">
								<label for="username" class="label">Username</label>
								<input id="username" type="text" class="input" v-model="username" required="required" minlength="1 character">									
							</div>						



							<p id="emailrequired" class="warning"></p>
							<div class="group">
								<label for="email" class="label">Email Address</label>
								<input id="email" type="email" class="input" v-model="email" required>			
							</div>								
							


							<p id="passwordrequired" class="warning"></p>	
							<div class="group">
								<label for="password" class="label">Password</label>
								<input id="password" type="password" class="input" data-type="password" v-model="password" required minlength="10 characters">				
							</div>							

							
<!-- 							<div class="group">
								<label for="password" class="label">Repeat Password</label>
								<input id="password" type="password" class="input" data-type="password" v-model="passwordrepeat" required="required">
							</div> -->


						<p id="rolerequired" class="warning"></p>
						<div class="group">
								<label for="role" class="label">Role</label>
								<select class="input" id="role" v-model="role" required>
									<option class="roleoption">Student/Parent</option>
									<option class="roleoption">Service Provider</option>						
								</select>							
							</div>	

							<div class="group">
								<button type="" v-on:click="addUser()">Sign Up</button>
							</div>
							<div class="bottom-text">
								<label for="tab-1"><span class="membercolor">Already a Member?</span></a>
							</div>
						
						</form>
					</div>
				</div>
			</div>	
		</main>
		<footer>
		</footer>
	</body>
	<script>			
	  	new Vue ({ // 'new Vue' instance
		    el: '#loginreg', // call the HTML element/div with the id "classes" to link to the Vue instance
		    data: function(){
		    	return{
		    		Users: [],
			    	username: '',
					email: '',
					password: '',
					role: '',

					errors: [],
				};	  	
		    },		

			mounted() {
				if(localStorage.getItem("Users")){
					try{
						this.Users = JSON.parse(localStorage.getItem("Users"));
					} catch(e){
						localStorage.removeItem("Users");
						console.log("User removed");
					}
				}
			},		    

			methods: {



				checkRegForm: function() {
					this.errors = [];

					if(!this.username){
						this.errors.push("Please enter a Username");						
						document.getElementById("usernamerequired").innerHTML = "Please enter a Username";							
					}else if (!this.UsernameExists(this.username.toLowerCase().trim())){
						this.errors.push("Username already exists!");							
						document.getElementById("usernamerequired").innerHTML = "Username already exists!";
					} else{
						document.getElementById("usernamerequired").innerHTML = "";
					}

					if(!this.email){
						this.errors.push("Email required!");								
						document.getElementById("emailrequired").innerHTML = "Email required!";											
					} else if(!this.validEmail(this.email.toLowerCase().trim())){
						this.errors.push("Valid email required!");								
						document.getElementById("emailrequired").innerHTML = "Valid email required!";					
					} else if (!this.EmailExists(this.email.toLowerCase().trim())){
						this.errors.push("Email already registered!");							
						document.getElementById("emailrequired").innerHTML = "Email already registered!";	
			
					} else{
						document.getElementById("emailrequired").innerHTML = "";
					}


					if(!this.password){
						this.errors.push("You must choose a password!");						
						document.getElementById("passwordrequired").innerHTML = "You must choose a password!";		
										
					}	else{
						document.getElementById("passwordrequired").innerHTML = "";
					}


					if(!this.role){
						this.errors.push("Please choose a Role type");						
						document.getElementById("rolerequired").innerHTML = "Please choose a Role type";								
					}else{
						document.getElementById("rolerequired").innerHTML = "";
					}	


					if(this.errors.length > 0){
						return false;
					}else {
						return true;
					}					

				},	
								
				UsernameExists: function(username){
					var cntr = 0;
					for (cntr = 0; cntr < this.Users.length; cntr++) {
						if(username.toLowerCase().trim() == this.Users[cntr].username.toLowerCase().trim()){
							return false;
						}
					}
					return true;
				},					

				validEmail: function(email){
					var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
					return re.test(email);
				},					

				EmailExists: function(email){
					var cntr = 0;
					for (cntr = 0; cntr < this.Users.length; cntr++) {
						if(email.toLowerCase().trim() == this.Users[cntr].email.toLowerCase().trim()){
							return false;
						}
					}

					return true;
				},


				addUser: function() {
					if(this.checkRegForm() == false) {
						return false;
					}

					this.Users.push({
						username: this.username.toLowerCase().trim(),					
						email: this.email.toLowerCase().trim(),
						password: this.password,
						role: this.role
					});

					this.username = '';
					this.email = '';
					this.password = '';
					this.role = '';

					this.errors = [];

					this.saveUsers();
				},

				saveUsers: function() {
					localStorage.setItem("Users", JSON.stringify(this.Users));

					alert("Registration Complete. Welcome to the Community.");
					document.getElementById("successfulRegister").innerHTML = "Registration Complete";
					this.$router.push("/index.html");
				}	
			}		    
		});   
	</script>		
</html>


